.message_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:48px;
}

.message_section__title {
  font-size: 22px;
  font-weight: 500;
  color: #BC7F40;
  text-align: center;
  margin-bottom: 24px;
}

.message_section_-title--highlight {
  font-weight: 700;
}

.message_section__button {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  border: 0;
  border-radius: 8px;
  font-family: 'SeoulHangang', sans-serif;
  background: #F2EEE8;
  cursor: pointer;
  margin-top: 24px;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: #BC7F40;
    color: #fff;
    transition: background 0.3s, color 0.3s;
  }
}