.hero {
  position: relative;
  width: 100%;
}

.hero__image {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

.hero__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 40px;
}

.hero__date-icon {
  width: 36px;
  margin-bottom: 16px;
}

.hero__text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero__text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  &--bold {
    font-weight: 900;
  }
}