.place-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 24px;
}

.place-section__line {
  margin: 24px 0;
}

.place-info {
  text-align: center;
}

.place-info__address {
  font-size: 18px;
  line-height: 32px;
  color: #393631;
}

.place-info__name {
  font-weight: 700;
}

.place-info__btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}

.btn {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  border: 0;
  border-radius: 16px;
  background: #F2EEE8;
  cursor: pointer;
}

.btn--copy-address {
  background: #F2EEE8;
}

.directions-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  margin-top: 32px;
}

.directions-item {
  position: relative;
  flex: 1;
  height: 160px;
  border: 2px solid #F2EEE8;
  border-radius: 24px;
  background-color: #fff;
}

.directions-item__link {
  display: block;
  padding: 94px 20px 20px;
}

.directions-item__img-box {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
}

.directions-item__img {
  width:100%;
  border-radius: 16px;
}

.directions-item__text {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #393631;
}

.directions-item__text::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background: url(@/assets/images/ico_arrow.jpg) no-repeat 50% 50%;
  background-size: contain;
}

.directions-method {
  width: 100%;
  margin-top: 32px;
}

.directions-method__item {
  margin-bottom: 16px;
}

.directions-method__title {
  font-size: 18px;
  font-weight: 700;
  color: #393631;
  margin-bottom: 8px;
}

.directions-method__description {
  font-size: 16px;
  color: #393631;
  line-height: 24px;
}