.story-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.story-section__line {
  margin: 24px 0;
}

.story-section__title {
  font-size: 24px;
  font-weight: 500;
  color: #BC7F40;
  text-align: center;
  margin-bottom: 24px;
}

.story-section__title--highlight {
  font-weight: 700;
}

.story-section__background {
  filter: blur(10px);
  width: 100%;
  height: auto;
}

.story-section__content-container {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.story-section__content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 60px 0;
  text-align: center;
  color: #393631;
}

.story-section__text {
  font-size: 16px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 24px;
}

.story-section__names {
  margin-top: 24px;
}

.story-section__name {
  font-size: 16px;
  font-weight: 700;
  color: #393631;
}