@import './base.css';

#app {
  position:relative;
  background:url(../assets/images/bg.png) no-repeat;
  background-size:cover;
  isolation:isolate;
}
#app::after{
  content:'';
  position:absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: .4;
}

a,
.green {

}

@media (hover: hover) {
  a:hover {

  }
}

@media (min-width: 1024px) {
  body {

  }

  #app {

  }
}
